<fs-full-layout>
   <span title>
      {{ 'ENTRIES_DETAILS_TITLE' | translation | async }}
   </span>
   <div toolbar>
   </div>
   <div content class="full-screen">
      <mat-card class="full-card">

         <mat-card-content>

            <form *ngIf="inputForm" [formGroup]="inputForm">
               <mat-form-field [style.fontSize.px]="20">
                  <mat-label>{{ 'ENTRIES_DESCRIPTION_LABEL' | translation | async }}</mat-label>
                  <input type="text" matInput formControlName="Text" autofocus>
               </mat-form-field>
               <related-box placeholder="ENTRIES_CATEGORY_LABEL" minSize="0" [options]="CategoryOptions"
                  formControlName="CategoryRow" (optionsChanging)="OnCategoryChanging($event)">
               </related-box>
            </form>

            <pre>{{ Data | json }}</pre>

         </mat-card-content>
         <mat-card-actions class="between">
            <button mat-button (click)="OnRemoveClick()" color="warn"
               [disabled]="!Data?.AccountID || inputForm?.dirty">{{ 'BASE_REMOVE_COMMAND' | translation | async }}</button>
            <div>
               <button mat-button (click)="OnCancelClick()">{{ 'BASE_CANCEL_COMMAND' | translation | async }}</button>
               <button mat-button (click)="OnSaveClick()" color="primary"
                  [disabled]="!inputForm?.valid">{{ 'BASE_SAVE_COMMAND' | translation | async }}</button>
            </div>
         </mat-card-actions>

      </mat-card>
   </div>
</fs-full-layout>
