<fs-full-layout>
   <span title>
      {{ 'ENTRIES_DETAILS_TITLE' | translation | async }}
   </span>
   <div toolbar>
   </div>
   <div content class="full-screen">
      <mat-card *ngIf="inputForm" class="full-card">

         <mat-card-content>

            <form [formGroup]="inputForm">
               <related-box [style.fontSize.px]="20" placeholder="ENTRIES_PATTERN_LABEL" minSize="0"
                  [options]="PatternOptions" formControlName="PatternRow" (optionsChanging)="OnPatternChanging($event)">
               </related-box>
               <related-box placeholder="ENTRIES_ACCOUNT_LABEL" minSize="0" [options]="AccountOptions"
                  formControlName="AccountRow" (optionsChanging)="OnAccountChanging($event)">
               </related-box>
               <div class="mat-form-field-row">
                  <mat-form-field>
                     <mat-label>{{ 'ENTRIES_ENTRYVALUE_LABEL' | translation | async }}</mat-label>
                     <input type="number" step="0.01" matInput formControlName="EntryValue">
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>{{ 'ENTRIES_DUEDATE_LABEL' | translation | async }}</mat-label>
                     <input matInput [matDatepicker]="dueDatePicker" formControlName="DueDate">
                     <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                     <mat-datepicker #dueDatePicker></mat-datepicker>
                  </mat-form-field>
               </div>
               <div class="mat-form-field-row">
                  <div class="mat-form-field mat-form-field-paid">
                     <mat-slide-toggle formControlName="Paid">{{ 'ENTRIES_PAID_LABEL' | translation | async }}
                     </mat-slide-toggle>
                  </div>
                  <mat-form-field>
                     <mat-label>{{ 'ENTRIES_PAYDATE_LABEL' | translation | async }}</mat-label>
                     <input matInput [matDatepicker]="payDatePicker" formControlName="PayDate">
                     <mat-datepicker-toggle matSuffix [for]="payDatePicker"></mat-datepicker-toggle>
                     <mat-datepicker #payDatePicker></mat-datepicker>
                  </mat-form-field>
               </div>
               <related-box placeholder="ENTRIES_CATEGORY_LABEL" minSize="0" [options]="CategoryOptions"
                  formControlName="CategoryRow" (optionsChanging)="OnCategoryChanging($event)">
               </related-box>

               <div *ngIf="Data?.Recurrency">
                  <mat-card class="recurrency-card"
                     [class.mat-elevation-z0]="!inputForm.get('RecurrencyActivate').value">
                     <mat-card-content class="recurrency-activate">
                        <mat-slide-toggle formControlName="RecurrencyActivate">
                           {{ 'ENTRIES_RECURRENCYACTIVATE_LABEL' | translation | async }}</mat-slide-toggle>
                     </mat-card-content>
                     <mat-card-content class="recurrency-options">
                        <div class="mat-form-field-row">
                           <mat-form-field>
                              <mat-label>{{ 'ENTRIES_RECURRENCYTYPE_LABEL' | translation | async }}</mat-label>
                              <mat-select formControlName="RecurrencyType">
                                 <mat-option *ngFor="let item of RecurrencyTypes" [value]="item.Value">
                                    {{ item.Text }}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <mat-form-field>
                              <mat-label>{{ 'ENTRIES_RECURRENCYCOUNT_LABEL' | translation | async }}</mat-label>
                              <input type="number" step="1" matInput formControlName="RecurrencyCount">
                           </mat-form-field>
                        </div>
                     </mat-card-content>
                  </mat-card>
               </div>

            </form>

         </mat-card-content>
         <mat-card-actions class="between">
            <button mat-button (click)="OnRemoveClick()" color="warn"
               [disabled]="!Data?.AccountID || inputForm?.dirty">{{ 'BASE_REMOVE_COMMAND' | translation | async }}</button>
            <div>
               <button mat-button (click)="OnCancelClick()">{{ 'BASE_CANCEL_COMMAND' | translation | async }}</button>
               <button mat-button (click)="OnSaveClick()" color="primary"
                  [disabled]="!inputForm?.valid">{{ 'BASE_SAVE_COMMAND' | translation | async }}</button>
            </div>
         </mat-card-actions>

      </mat-card>
   </div>
</fs-full-layout>
