.mat-form-field-paid {
  height: 50px;
  flex-grow: unset;
  align-self: center;
  place-self: flex-start;
  display: flex;
  .mat-slide-toggle {
    align-self: center;
  }
}

.recurrency-card {
  &.mat-elevation-z0 {
     .recurrency-activate {
        margin-left: -16px;
     }
     .recurrency-options {
        display: none;
     }
  }
}
