<fs-full-layout>
   <span title>
      Cash Flow
   </span>
   <div content class="full-screen">
      <div class="full-card">

         <fs-resume></fs-resume>

         <div class="row">

            <div class="col col-5">
               <fs-balance></fs-balance>
            </div>

            <div class="col col-7">
               <mat-card>
                  <mat-card-content>
                     <div>appVersion: {{ appVersion }}</div>
                  </mat-card-content>
               </mat-card>
            </div>

         </div>

      </div>
   </div>
</fs-full-layout>
