@import "../../../styles/screenSizes.scss";

.full-card {
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(#{$details-height} - #{$screen-padding});
  @media (max-width: $max-width-xs) {
    height: calc(#{$details-height} + #{$screen-padding});
  }
}

.row {
  align-items: flex-start;
}
