<fs-full-layout>
   <span title>
      Accounts
   </span>
   <div toolbar>
   </div>
   <div content>

      <mat-card>
         <mat-card-header>
            header
         </mat-card-header>
         <mat-card-subtitle>
            subtitle
         </mat-card-subtitle>
         <mat-card-content>
            content
         </mat-card-content>
         <mat-card-actions>
            actions
         </mat-card-actions>
         <mat-card-footer>
            footer
         </mat-card-footer>
      </mat-card>

   </div>
   <div footer>
   </div>
</fs-full-layout>
