@import "../../../styles/screenSizes.scss";

.mat-card-content {
  margin: 0;
}

.mat-action-list {
  height: 40vh;
  @media (max-width: $max-width-xs) {
    $screenPadding: 3px;
    $cardPadding: 16px;
    $tabsHeader: 49px;
    $cardActions: 44px;
    $listHeight: calc(
      #{$details-height} - (#{$screenPadding} * 2) - (#{$cardPadding} * 2) - #{$tabsHeader} - #{$cardActions}
    );
    height: $listHeight;
  }
  overflow-y: scroll;
}
