<fs-full-layout>
   <span title>
      Accounts
   </span>
   <div toolbar>
   </div>
   <div content>

      <mat-card>
         <mat-card-content>
            <mat-tab-group>
               <mat-tab label="Active Accounts"> Content 1 </mat-tab>
               <mat-tab label="Arquived Accouncs"> Content 2 </mat-tab>
            </mat-tab-group>
         </mat-card-content>
         <mat-card-actions>
            <button mat-button color="accent">Click to add a new Account</button>
         </mat-card-actions>
      </mat-card>

   </div>
   <div footer>
   </div>
</fs-full-layout>
