<fs-full-layout>
   <span title>
      Accounts
   </span>
   <div toolbar>
   </div>
   <div content class="full-screen">

      <mat-card class="full-card">
         <mat-card-content>
            <mat-tab-group dynamicHeight="false">
               <mat-tab label="Active Accounts">
                  <mat-action-list>
                     <button mat-list-item *ngFor="let item of ActiveData" (click)="OnItemSelect(item)" >
                        <span>{{ item.Text }}</span>
                        <mat-icon matListIcon>{{ item.Icon }}</mat-icon>
                     </button>
                  </mat-action-list>
               </mat-tab>
               <mat-tab label="Arquived">
                  <mat-action-list>
                     <button mat-list-item *ngFor="let item of ArquivedData" (click)="OnItemSelect(item)" >
                        <span>{{ item.Text }}</span>
                        <mat-icon matListIcon>{{ item.Icon }}</mat-icon>
                     </button>
                  </mat-action-list>
               </mat-tab>
            </mat-tab-group>
         </mat-card-content>
         <mat-card-actions>
            <button mat-button color="accent">New Account</button>
         </mat-card-actions>
      </mat-card>

   </div>
</fs-full-layout>
