@import "../../../styles/screenSizes.scss";

.mat-card-content {
  margin: 0;
}

@media (max-width: $max-width-xs) {
  $screenPadding: 3px;
  $cardPadding: 16px;
  $tabsHeader: 49px;
  $cardActions: 44px;
  .mat-action-list {
    overflow-y: scroll;
    height: calc(
      #{$details-height} - (#{$screenPadding} * 2) - (#{$cardPadding} * 2) - #{$tabsHeader} - #{$cardActions}
    );
  }
}
