<h3>We suggest the following</h3>
<div class="row">
   <div class="col-sm-12 col-md-5">
      <h4>Getting Started</h4>
      ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
      enables a clean separation of concerns and that gives you full control over markup
      for enjoyable, agile development. ASP.NET MVC includes many features that enable
      fast, TDD-friendly development for creating sophisticated applications that use
      the latest web standards.<br />
      <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
   </div>

   <div class="col-sm-6 col-md-3">
      <h4>Add NuGet packages and jump-start your coding</h4>
      NuGet makes it easy to install and update free libraries and tools.<br />
      <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
   </div>

   <div class="col-sm-6 col-md-4">
      <h4>Find Web Hosting</h4>
      You can easily find a web hosting company that offers the right mix of features
      and price for your applications.<br />
      <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
   </div>
</div>

@*
<script type="text/javascript">
   $(document).ready(function () {
      @{ var myDate = new DateTime(2014, 7, 15); }
      var myDate = '@myDate.ToShortDateString()';
      console.log(myDate);

      @{ var myDateJson = new HtmlString(Json.Encode(myDate)); }
      var myDateJson = @myDateJson;
      console.log(myDateJson);

      var myDateParsed = new Date(parseInt(myDateJson.substr(6)));
      console.log(myDateParsed);

      var myDateTimeZone = myDateParsed.getTimezoneOffset();
      console.log(myDateTimeZone);

      var myDateUTC = myDateParsed.toUTCString();
      console.log(myDateUTC);

      var myDateGlobalize = Globalize.format(myDateUTC, 'd', '@System.Threading.Thread.CurrentThread.CurrentUICulture.ToString()');
      console.log(myDateGlobalize);

   });
</script>
*@
