<div class="sidenav">

   <img class="header" src="assets/sidenav.png" />

   <mat-nav-list class="links">
      <a mat-list-item routerLink="/home" >
         <span>DASHBOARD_MENU</span>
         <mat-icon matListIcon>dashboard</mat-icon>
      </a>
      <a mat-list-item routerLink="/transactions">
         <span>{{ "entries.MENU" | translation | async }}</span>
         <mat-icon matListIcon>receipt</mat-icon>
      </a>
      <a mat-list-item routerLink="/accounts">
         <span>{{ "accounts.MENU" | translation | async }}</span>
         <mat-icon matListIcon>account_balance</mat-icon>
      </a>
      <a mat-list-item routerLink="/categories">
         <span>{{ "categories.MENU" | translation | async }}</span>
         <mat-icon matListIcon>label</mat-icon>
      </a>
      <a mat-list-item routerLink="/analytics" disabled>
         <span>ANALYTICS_MENU</span>
         <mat-icon matListIcon>equalizer</mat-icon>
      </a>
   </mat-nav-list>

   <div class="spacer"></div>

   <mat-nav-list class="links">
      <a mat-list-item routerLink="/identity/change-password">
         <span>SETTINGS_MENU</span>
         <mat-icon matListIcon>settings</mat-icon>
      </a>
      <a mat-list-item routerLink="/identity/logout">
         <span>{{ 'identity.LOGOUT_MENU' | translation | async }}</span>
         <mat-icon matListIcon>power_settings_new</mat-icon>
      </a>
   </mat-nav-list>

</div>
