<mat-accordion hideToggle *ngIf="(Data | async)?.length">
   <mat-expansion-panel class="mat-elevation-z1" *ngFor="let balanceType of (Data | async)">

      <mat-expansion-panel-header>
         <mat-panel-title>
            <div class="main">
               <div>
                  <mat-icon>{{ balanceType.Icon }}</mat-icon>
                  <span class="type-text">{{ balanceType.Text }}</span>
               </div>
               <span
                  [class.forecolor-red]="balanceType.PaidValue < 0"
                  [class.forecolor-green]="balanceType.PaidValue > 0">{{ balanceType.PaidValue | number : '1.2-2' }}
               </span>
            </div>
         </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list dense>
         <a mat-list-item *ngFor="let account of balanceType.Accounts; let last = last" [routerLink]="GetUrl(account)">
            <div matLine class="account-row">
               <span>{{ account.Text }}</span>
               <span class="account-values">
                  <span [class.forecolor-red]="account.CurrentBalance < 0"
                     [class.forecolor-green]="account.CurrentBalance > 0">{{ account.CurrentBalance | number : '1.2-2' }}</span>
                  <small *ngIf="(account.IncomeForecast+account.ExpenseForecast) != 0"
                     [class.forecolor-red]="(account.IncomeForecast+account.ExpenseForecast) < 0"
                     [class.forecolor-green]="(account.IncomeForecast+account.ExpenseForecast) > 0">{{ (account.IncomeForecast+account.ExpenseForecast) | number : '1.2-2' }}</small>
               </span>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
         </a>
      </mat-nav-list>

   </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="!(Data | async)?.length" class="no-accounts">
   <mat-card-content>
      <span class="mat-title">{{ 'DASHBOARD_BALANCE_NO_ACCOUNTS_TEXT' | translation | async }}</span>
   </mat-card-content>
</mat-card>
