.type-text {
  align-self: center;
  margin-left: 12px;
}

.type-values {
  width: 100%;
  text-align: end;
}

.account-row {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  .account-values {
    line-height: 1.2;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
