mat-panel-title {
   margin-right: 0;
   div {
      &.main {
         width: 100%;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
   }
   .type-text {
      margin-left: 12px;
   }

   .type-values {
      text-align: end;
   }
}

.mat-expansion-panel-header-description {
  margin: 0;
}

.account-row {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  .account-values {
    line-height: 1.2;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

.no-accounts {
  .mat-card-content {
    text-align: center;
  }
}
