<div class="mat-title">
   BALANCE
</div>
<mat-accordion hideToggle *ngIf="balanceTypes?.length">
   <mat-expansion-panel *ngFor="let balanceType of balanceTypes">

      <mat-expansion-panel-header>
         <mat-panel-title>
            <mat-icon>account_circle</mat-icon>
            {{ balanceType.Text }}
         </mat-panel-title>
         <mat-panel-description>

         </mat-panel-description>
      </mat-expansion-panel-header>

      <pre>
         {{ balanceType.Accounts | json }}
      </pre>

   </mat-expansion-panel>
</mat-accordion>
