@import 'src/styles/variables';

article {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

header {
   height: $header-height;
   color: red;
   flex-shrink: 1;
}

section {
   flex-grow: 1;
   height: calc( 100vh - #{$header-height} - #{$footer-height} );
   color: yellow;
}

footer {
   height: $footer-height;
   color: blue;
   flex-shrink: 1;
}
