@using FriendCash.Auth.Model
@model viewSignature

<div class="card">
   <div class="card-content">
      <div class="card-title">
         <span>@Html.FsTranslationFor("TITLE_USERSSIGNATURE")</span>
         <small class="right-align right">
            <span class="btn waves-effect" data-bind="click:addYearSignature">
               <span>@Html.FsTranslationFor("LABEL_USERSSIGNATURE_ADD_YEAR")</span>
            </span>
            <span class="btn waves-effect" data-bind="click:addMonthSignature">
               <span>@Html.FsTranslationFor("LABEL_USERSSIGNATURE_ADD_MONTH")</span>
            </span>
         </small>
      </div>
      <div class="collection" data-bind="foreach:dataSignatures">
         <div class="collection-item">
            @*
               <small class="secondary-content" data-bind="text:Status"></small>
            *@
            <span data-bind="text:moment(DueDate).format('L')"></span>
            <a href="#!" class="secondary-content" data-bind="click:$parent.removeSignature">
               <i class="material-icons red-text">clear</i>
            </a>
         </div>
      </div>
   </div>
</div>

