<fs-base-layout class="background">

   <div header>
   </div>

   <div details>

      <form *ngIf="inputForm" [formGroup]="inputForm" (ngSubmit)="OnClick()">
         <mat-card>
            <mat-card-header>
               <mat-card-title>
                  Cash Flow: Sign In
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>

               <mat-form-field>
                  <mat-label>Your Email</mat-label>
                  <input type="email" matInput formControlName="UserName">
               </mat-form-field>

               <mat-form-field>
                  <mat-label>Your Password</mat-label>
                  <input type="password" matInput formControlName="Password">
               </mat-form-field>

            </mat-card-content>
            <mat-card-actions class="between">
               <button mat-button color="accent" routerLink="/signup" matTooltip="Click here if you dont have an account yet">Sign Up</button>
               <button mat-flat-button color="primary" [disabled]="!inputForm?.valid" (click)="OnClick()">Sign In</button>
            </mat-card-actions>
         </mat-card>
      </form>
      <button *ngIf="signupUser" mat-button color="accent" (click)="OnActivationClick()">send me the activation link again</button>

   </div>

</fs-base-layout>
