<shared-authenticated-container>
   <div header-title>{{ "transfers.TITLE" | translation | async }}</div>
   <div content>

      <form *ngIf="form" [formGroup]="form" (ngSubmit)="OnSaveClick()">
         <mat-card>

            <mat-card-content>
               <code>{{ data | json }}</code>
            </mat-card-content>

            <mat-card-actions>
               <button type="button" mat-button (click)="OnCancelClick()"
                  [matTooltip]="'shared.CANCEL_COMMAND_TOOLTIP' | translation | async" [disabled]="IsBusy">
                  {{ "shared.CANCEL_COMMAND" | translation | async }}
               </button>
               <button type="submit" mat-button color="primary"
                  [matTooltip]="'shared.SAVE_COMMAND_TOOLTIP' | translation | async"
                  [disabled]="!inputForm?.valid || IsBusy">
                  {{ "shared.SAVE_COMMAND" | translation | async }}
               </button>
            </mat-card-actions>

         </mat-card>
      </form>

   </div>
</shared-authenticated-container>
