<shared-authenticated-container>
   <div header-title>{{ "transfers.TITLE" | translation | async }}</div>
   <div content>

      <form *ngIf="form" [formGroup]="form" (ngSubmit)="OnSaveClick()">
         <mat-card>

            <mat-card-content>
               <transfers-details-expense-account [form]="form" [data]="data" (OnChange)="OnAccountsChange()">
               </transfers-details-expense-account>
               <transfers-details-income-account [form]="form" [data]="data" (OnChange)="OnAccountsChange()">
               </transfers-details-income-account>
               <div class="row">
                  <transfers-details-date [form]="form" [data]="data"> </transfers-details-date>
                  <transfers-details-value [form]="form" [data]="data"> </transfers-details-value>
               </div>
            </mat-card-content>

            <mat-card-actions>
               <transfers-details-cancel (click)="OnCancelClick()"></transfers-details-cancel>
               <transfers-details-confirm [form]="form"></transfers-details-confirm>
            </mat-card-actions>

         </mat-card>
      </form>

   </div>
</shared-authenticated-container>
