<shared-authenticated-container>
   <div header-title>{{ "transfers.TITLE" | translation | async }}</div>
   <div content>

      <form *ngIf="form" [formGroup]="form" (ngSubmit)="OnSaveClick()">
         <mat-card>

            <mat-card-content>
               <code>{{ data | json }}</code>
            </mat-card-content>

            <mat-card-actions>
               <transfers-details-cancel [form]="form" (click)="OnCancelClick()"></transfers-details-cancel>
               <transfers-details-confirm [form]="form"></transfers-details-confirm>
            </mat-card-actions>

         </mat-card>
      </form>

   </div>
</shared-authenticated-container>
