@model FriendCash.Model.Membership.LocalLogin
@{
   ViewBag.jQueryUI = true;
   Layout = "~/Views/Shared/Base.cshtml";
}

<div class="row">
   <div class="col-sm-9">
      @Html.Partial("Login_Standard", Model)
   </div>
   <div class="col-sm-3">
      @Html.Partial("Login_Services")
   </div>
</div>
