<div class="panel panel-default">
   <div class="panel-heading">
      <h3>@FriendCash.Resources.User.TITLE_SERVICE_LOGIN</h3>
   </div>
   <div class="panel-body">
      @Html.Action("ServiceList", new { ReturnUrl = ViewBag.ReturnUrl })
   </div>
</div>


