@if (!string.IsNullOrEmpty(ViewBag.UserManageMessage))
{
   <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <span>@ViewBag.UserManageMessage</span>
   </div>
 }
