<shared-authenticated-container>
   <div header-title>{{ "accounts.TITLE" | translation | async}}</div>
   <div header-toolbar>
      <button mat-icon-button color="accent" routerLink="../details/new">
         <mat-icon>add_circle</mat-icon>
      </button>
   </div>
   <div content>

      <mat-tab-group dynamicHeight="false">

         <mat-tab [label]="'accounts.ACTIVE_ACCOUNTS_LABEL' | translation | async">
            <accounts-list-body [Accounts]="ActiveAccounts"></accounts-list-body>
         </mat-tab>

         <mat-tab [label]="'accounts.INACTIVE_ACCOUNTS_LABEL' | translation | async">
            <accounts-list-body [Accounts]="InactiveAccounts"></accounts-list-body>
         </mat-tab>

      </mat-tab-group>

   </div>
</shared-authenticated-container>
