<!-- ANONYMOUS -->
<div *ngIf="!IsAuthenticated" class="main-container central-content background">
   <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<!-- AUTHENTICATED -->
<div *ngIf="IsAuthenticated" class="main-container">
   <mat-sidenav-container autosize (backdropClick)="snav.close()">
      <mat-sidenav #snav fixedInViewport="true" [mode]="IsMobile ? 'over' : 'side'" [opened]="!IsMobile"
         (keydown.escape)="snav.close()">
         <mat-nav-list>
            <mat-list-item>
               <a matLine routerLink="/identity/change-password">Change Password</a>
            </mat-list-item>
            <mat-list-item>
               <a matLine routerLink="/identity/logout">Logout</a>
            </mat-list-item>
            <!--
            <mat-list-item *ngFor="let link of links">
               <a matLine href="...">{{ link }}</a>
               <button mat-icon-button (click)="showInfo(link)">
                  <mat-icon>info</mat-icon>
               </button>
            </mat-list-item>
            -->
         </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
         <div class="main-container central-content">
            <ng-container *ngTemplateOutlet="template"></ng-container>
         </div>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>

<!-- SHARED ROUTER OUTLET -->
<ng-template #template>
   <router-outlet></router-outlet>
</ng-template>

<!-- AUXILIARY COMPONENTS -->
<shared-busy></shared-busy>
