<shared-authenticated-container>
   <div header-title>ACCOUNTS_TITLE</div>
   <div content>

      <form *ngIf="inputForm" [formGroup]="inputForm" (ngSubmit)="OnFormSubmit()">
         <mat-card>

            <mat-card-content>
               <mat-form-field class="row">
                  <mat-label>ACCOUNTS_TEXT_LABEL</mat-label>
                  <input type="text" matInput autofocus formControlName="Text">
               </mat-form-field>
               <mat-form-field class="row">
                  <mat-label>ACCOUNTS_TYPE_LABEL</mat-label>
                  <input type="text" matInput formControlName="Type">
               </mat-form-field>
               <div class="row">
                  <mat-form-field class="col">
                     <mat-label>ACCOUNTS_CLOSINGDAY_LABEL</mat-label>
                     <input type="number" matInput autofocus formControlName="ClosingDay">
                  </mat-form-field>
                  <mat-form-field class="col">
                     <mat-label>ACCOUNTS_DUEDAY_LABEL</mat-label>
                     <input type="number" matInput autofocus formControlName="DueDay">
                  </mat-form-field>
               </div>
            </mat-card-content>

            <mat-card-actions>
               <button type="submit" mat-button color="primary" [disabled]="!inputForm?.valid || IsBusy"
                  matTooltip="SAVE_COMMAND_TOOLTIP">SAVE_COMMAND</button>
            </mat-card-actions>

         </mat-card>
      </form>

   </div>
</shared-authenticated-container>
