<shared-authenticated-container>
   <div header-title>{{ "entries.TITLE" | translation | async}}</div>
   <div header-toolbar>
      <button mat-icon-button routerLink="../details/new">
         <mat-icon>add_circle</mat-icon>
      </button>
   </div>
   <div content>

      <!--
      <ng-container *ngIf="(EntriesGroups | async) as entriesGroups">
         <shared-empty-list *ngIf="entriesGroups.length==0"></shared-empty-list>
      </ng-container>
      -->

      <mat-tab-group dynamicHeight="false">
         <mat-tab *ngFor="let account of AccountsEntries | async" [label]="account.AccountID">
            <div class="tab-contents">
               <entries-list-body [AccountEntries]="account"></entries-list-body>
            </div>
         </mat-tab>
      </mat-tab-group>

   </div>
</shared-authenticated-container>
