<shared-authenticated-container>
   <div header-title>{{ "entries.TITLE" | translation | async}}</div>
   <div header-toolbar>

      <button mat-icon-button [matMenuTriggerFor]="addMenu">
         <mat-icon>add_circle</mat-icon>
      </button>
      <mat-menu #addMenu="matMenu">
         <button mat-menu-item routerLink="../details/new-income">
            <mat-icon>add</mat-icon>
            <span>{{ 'entries.ADD_INCOME_MENU' | translation | async }}</span>
         </button>
         <button mat-menu-item routerLink="../details/new-expense">
            <mat-icon>remove</mat-icon>
            <span>{{ 'entries.ADD_EXPENSE_MENU' | translation | async }}</span>
         </button>
         <button mat-menu-item routerLink="../details/new-transfer" disable>
            <mat-icon>shuffle</mat-icon>
            <span>{{ 'entries.ADD_TRANSFER_MENU' | translation | async }}</span>
         </button>
      </mat-menu>

   </div>
   <div content>

      <ng-container *ngIf="(AccountsEntries | async) as accountsEntries">
         <shared-empty-list *ngIf="accountsEntries.length==0"></shared-empty-list>
         <mat-tab-group dynamicHeight="false" *ngIf="accountsEntries.length>0">
            <mat-tab *ngFor="let account of accountsEntries" [label]="account.Account.Text">
               <ng-template mat-tab-label>
                  <mat-icon>{{ GetAccountIcon(account.Account.Type) }}</mat-icon>
                  <span>{{ account.Account.Text }}</span>
               </ng-template>
               <div class="tab-contents">
                  <entries-list-body [AccountEntries]="account"></entries-list-body>
               </div>
            </mat-tab>
         </mat-tab-group>
      </ng-container>

   </div>
</shared-authenticated-container>
