.mat-card {
   margin-bottom: 6px;
   padding: 10px;
 }
 #categoryGoalsContainer {
    height: 20vh;
 }

.test{
   color: #2196F3;
   color: #795548;
   color: #FF5722;
   color: #FFC107;
   color: #4CAF50;
   color: #3F51B5;
   color: #f44336;
   color: #FFEB3B;
   color: #00BCD4;
   color: #607D8B;
   color: #8BC34A;
   color: #9C27B0;
   color: #3F51B5;
   color: #FF9800;
   color: #009688;
}
