.mat-card {
   margin-bottom: 6px;
   padding: 10px;
 }
 #categoryGoalsContainer {
    height: 40vh;
 }

/*
.test{
   color:#2196F3;
   color:#4CAF50;
   color:#f44336;
   color:#FFC107;
   color:#3F51B5;
   color:#795548;
   color:#009688;
   color:#FF5722;
   color:#FFEB3B;
   color:#3F51B5;
   color:#607D8B;
   color:#8BC34A;
   color:#9C27B0;
   color:#00BCD4;
   color:#FF9800;
}
*/
