.mat-card {
   margin-bottom: 6px;
   padding: 10px;
   .mat-card-content:not(:last-child) {
      margin-bottom: 6px;
   }
}
#categoryGoalsContainer {
   height: 20vh;
   @media print {
      height: 140px;
   }
}

.test {
   color: #73a8f0;
   color: #318047;
   color: #f5c533;
   color: #004789;
   color: #f18302;
   color: #8f5699;
   color: #894a00;
   color: #3ed662;
   color: #808080;
   color: #50ebe8;
   color: #e44d98;
   color: #adff2f;
   color: #ffa07a;
   color: #333333;
}
