<fs-full-layout>
   <span title>
      Account
   </span>
   <div toolbar>
   </div>
   <div content class="full-screen">

      <mat-card class="full-card">
         <mat-card-content>
            <mat-form-field>
               <input matInput placeholder="Account Description">
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Type">
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Due Day">
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Active">
            </mat-form-field>
            <pre>
               {{ Data | json }}
            </pre>
         </mat-card-content>
         <mat-card-actions class="between">
            <button mat-button color="warn">Remove</button>
            <div>
               <button mat-button>Cancel</button>
               <button mat-button color="primary">Save</button>
            </div>
         </mat-card-actions>
      </mat-card>

   </div>
</fs-full-layout>
