@model string
<div class="fs-datalist">
   <div class="vertical-center-align center-align" data-bind="visible:@(Model)().length==0">
      @Html.Partial("_Control_EmptyList")
   </div>
   <div class="fs-datalist-content" data-bind="visible:@(Model)().length!=0">

      <h5>
         <span>@Html.FsTranslationFor("TITLE_CATEGORIES_MAIN")</span>
      </h5>

      <div class="card-content center-align" data-bind="visible:isLoading">
         @Html.Partial("_Control_Spinner")
      </div>

      <!-- ko foreach : @Model -->
         <a href="#!" class="fs-datalist-contentitem" data-bind="click:$root.openData">
            <span data-bind="text:Text"></span>
         </a>
         <!-- ko foreach : Childs -->
            <a href="#!" class="fs-datalist-contentitem" data-bind="click:$root.openData">
               <i class="material-icons white-text" style="font-size:15px">chevron_right</i>
               <span data-bind="text:Text"></span>
            </a>
         <!-- /ko -->
      <!-- /ko -->

   </div>
</div>