.mat-card {
   margin-bottom: 6px;
   padding: 10px;
   .mat-card-content:not(:last-child) {
      margin-bottom: 6px;
   }
   .mat-card-content {
      overflow-x: hidden;
   }
}
#entriesParetoContainer {
   height: 30vh;
   @media print {
      height: 206px;
   }
}
