<mat-sidenav-container (backdropClick)="snav.close()">

   <mat-sidenav #snav fixedInViewport="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches" (keydown.escape)="snav.close()">
      <img class="sidebarHeader" src="assets/sidebarHeader.png" />
      <mat-action-list>
         <button mat-list-item>
            <span>Dashboard</span>
            <mat-icon matListIcon>dashboard</mat-icon>
         </button>
         <button mat-list-item>
            <span>Entries</span>
            <mat-icon matListIcon>receipt</mat-icon>
         </button>
      </mat-action-list>
   </mat-sidenav>

   <mat-sidenav-content>
      <fs-base-layout>
         <div left-header>
            <button mat-icon-button (click)="snav.toggle()">
               <mat-icon>menu</mat-icon>
            </button>
            <ng-content select="[title]"></ng-content>
         </div>
         <div right-header>
            <ng-content select="[toolbar]"></ng-content>
         </div>

         <div details>
            <div class="layout-content">
               <ng-content select="[content]"></ng-content>
            </div>
            <div class="layout-footer">
               <ng-content select="[footer]"></ng-content>
            </div>
         </div>
      </fs-base-layout>

   </mat-sidenav-content>

</mat-sidenav-container>
