@import "../../../styles/screenSizes.scss";

.layout-container-content {
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .layout-full-content {
    width: 100%;
  }

  .layout-content {
    width: 50vw;
    @media (max-width: $max-width-sm) {
      width: 90%;
    }
    @media (max-width: $max-width-xs) {
      width: 100%;
    }
  }
}

.layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
