@if (ViewData["Pages"] != null) 
 {
   <div class="btn-toolbar pull-right" role="toolbar">
      @{
         string sSearch = ((string)ViewData["Search"]);
         var oPages = ((List<FriendCash.Service.Pages>)ViewData["Pages"]);
         var oPageGroups = oPages
            .GroupBy(DATA => DATA.Group)
            .Select(DATA => new { Group = DATA.Key });
         foreach (var oGroup in oPageGroups)
         {
            <div class="btn-group btn-group-sm">
               @{ 
                  var oPageList = oPages.Where(DATA => DATA.Group == oGroup.Group);
                  foreach (var oPage in oPageList)
                  {
                     var sClass = "btn "; sClass += (oPage.IsCurrent ? "btn-primary disabled" : "btn-default");
                     @Html.ActionLink(oPage.Page.ToString(), null, new {page=oPage.Page, search=sSearch}, new {@class=sClass})
                  }
               }
            </div>
         }
      }
   </div>
}

