<fs-full-layout>
   <span title>
      {{ 'ENTRIES_MAIN_TITLE' | translation | async }}
   </span>
   <div toolbar>
      <fs-month-picker></fs-month-picker>
   </div>
   <div content class="full-screen">

      <mat-card class="full-card">
         <mat-card-content>
            <div class="flow-row" *ngFor="let flow of FlowList; last as islast">
               <div class="flow-day">
                  <span class="mat-subheading-1">{{ flow.Day}}</span>
               </div>
               <div class="flow-list">
                  <mat-action-list>
                     <button mat-list-item *ngFor="let item of flow.EntryList" (click)="OnItemClick(item)">
                        <h3 matLine>{{ item.Text }} - {{ item.EntryValue }} </h3>
                        <p matLine>{{ item.CategoryText }} - {{ item.AccountText }}</p>
                        <!-- <mat-icon matListIcon>{{ item.Icon }}</mat-icon> -->
                     </button>
                  </mat-action-list>
                  <mat-divider *ngIf="!islast"></mat-divider>
               </div>
               <div class="flow-balance">
                  <span class="mat-subheading-1">{{ flow.BalanceTotalValue | number : '1.2-2' }}</span>
               </div>
            </div>

         </mat-card-content>
      </mat-card>

   </div>
</fs-full-layout>
<fab-button (click)="OnNewClick()"></fab-button>
