<fs-full-layout>
   <span title>
      {{ 'ENTRIES_MAIN_TITLE' | translation | async }}
   </span>
   <div toolbar>
      <fs-month-picker></fs-month-picker>
   </div>
   <div content class="full-screen">

      <mat-card class="full-card">
         <mat-card-content>
            <mat-action-list>
               <button mat-list-item *ngFor="let item of DataList" (click)="OnItemClick(item)">
                  <span>{{ item.Text }}</span>
                  <!-- <mat-icon matListIcon>{{ item.Icon }}</mat-icon> -->
               </button>
            </mat-action-list>
         </mat-card-content>
      </mat-card>

   </div>
</fs-full-layout>
<fab-button (click)="OnNewClick()"></fab-button>
