<fs-full-layout>
   <span title>
      {{ 'ENTRIES_MAIN_TITLE' | translation | async }}
   </span>
   <div toolbar>
      <fs-month-picker></fs-month-picker>
   </div>
   <div content class="full-screen">

      <mat-card *ngFor="let flow of FlowList; last as islast">

         <mat-card-content>
            <div class="flow-row">

               <div class="flow-day">
                  <span>{{ flow.Day }}</span>
               </div>

               <div class="flow-details">
                  <mat-action-list>
                     <button mat-list-item *ngFor="let item of flow.EntryList" (click)="OnItemClick(item)">
                        <div class="item-row mat-body">
                           <div class="item-details">
                              <div>{{ item.Text }}</div>
                              <div>
                                 <small>{{ item.CategoryText }}</small>
                                 <small *ngIf="item.CategoryText && item.AccountText"> - </small>
                                 <small>{{ item.AccountText }}</small>
                              </div>
                           </div>
                           <div class="item-value" [class.forecolor-red]="item.EntryValue < 0"
                              [class.forecolor-green]="item.EntryValue > 0">
                              {{ item.EntryValue | number : '1.2-2' }}
                           </div>
                        </div>
                     </button>
                  </mat-action-list>
               </div>

            </div>
            <div class="flow-row">
               <div class="flow-details"></div>
               <div class="flow-balance mat-body">
                  <span class="" [class.forecolor-red]="flow.BalanceTotalValue < 0"
                     [class.forecolor-green]="flow.BalanceTotalValue > 0">{{ flow.BalanceTotalValue | number : '1.2-2' }}</span>
               </div>
            </div>
         </mat-card-content>

      </mat-card>

   </div>
</fs-full-layout>
<fab-button (click)="OnNewClick()"></fab-button>
