@using FriendCash.Auth.Model;
@model viewCreateUser
@{
   ViewBag.Title = Html.FsTranslationFor("TITLE_AUTH_REGISTER");
}

<div class="row">
   <div class="col offset-s1 s10 offset-m2 m8 offset-l3 l6">
      <h5>@Html.FsTranslationFor("TITLE_AUTH_REGISTER_RESULT")</h5>
      @Html.Raw(Html.FsTranslationFor("MSG_AUTH_REGISTER_RESULT"))
      <div class="right-align">
         <br />
         <a class="btn waves-effect lighten-2 white-text" href="@Url.Action("login", "auth")">@Html.FsTranslationFor("LINK_AUTH_REGISTER_RESULT_LOGIN")</a>
      </div>
   </div>
</div>
