/* GENERAL */
html, body {margin:0; padding:0; height:100%; }
body {font-family:"Verdana", "DejaVu Sans"; font-size:11px; color:#0F1F2F; background:#dcdcdc; }
div {margin:0px; padding:0px; position:relative; display:block; }
div.clear {clear:both; float:none; }
input[type=submit], input[type=text], input[type=password], select, ul.ui-autocomplete {font-family:"Verdana", "DejaVu Sans"; font-size:0.9em; }
select {width:100%; }

/* LINKs */
a:link {color:navy; text-decoration:none;}
a:visited {color:navy;}
a:hover {color:#fff;}

/* MAIN-HEADER */
div#main {width:1024px; cursor:default; min-height:100%; height:auto !important; top:0; overflow:hidden; margin-left:auto; margin-right:auto; z-index:0; }
div#main-header {height:103px; overflow:hidden; margin:0 auto; background:url(../Resources/HeaderCenter.png) repeat-x top; z-index:10; }
div#main-header-left {height:103px; width:110px; background:url(../Resources/HeaderLeft.png) no-repeat top left; float:left; }
div#main-header-right {height:103px; width:10px; background:url(../Resources/HeaderRight.png) no-repeat top right; float:right; }
div#main-header-user {height:22px; width:300px; position:absolute; padding:0px; right:20px; top:0px; text-align:right; z-index:12; }
div#main-header-menu {height:20px; width:600px; position:absolute; padding:0px; left:70px; top:84px; font-size:1em; z-index:12; }

/* MAIN-DRAWER */
div#main-drawer {height:45px; background:url(../Resources/DrawerCenter.png) repeat-x top; position:relative; z-index:10; }
div#main-drawer-left {height:38px; width:20px; background:url(../Resources/DrawerLeft.png) no-repeat top left; float:left; }
div#main-drawer-right {height:38px; width:20px; background:url(../Resources/DrawerRight.png) no-repeat top right; float:right; }
div#main-drawer-content {height:22px; line-height:22px; width:982px; position:absolute; padding:0px; left:21px; top:5px; }
div.DrawerLeft {float:left; width:350px; text-align:left; line-height:28px; }
div.DrawerRight {float:left; width:630px; text-align:right; line-height:28px; }

/* MAIN-CONTENT */
div#main_title {width:900px; height:42px; position:absolute; padding:0px; left:105px; top:28px; text-align:left; color:navy; z-index:11; overflow:hidden; }
div#main_title h1 {padding:0px; margin:0px; font-size:30px; line-height:30px; font-weight:800; }
div#main-content {height:100%; padding:0px 3px 40px; }

/* MAIN-FOOTER */
div#main-footer {position:fixed; bottom:0px; left:0px; right:0px; width:100%; height:15px; vertical-align:middle; padding:5px; font-size:9px; }
div.main-footer-default {background-color:#A6A6A6; }
div.main-footer-warning {background-color:Yellow; }
div.main-footer-error {background-color:Red; }
div#main-footer-messages {width:75%; float:left; }
div#main-footer-author {width:22%; float:right; text-align:right; margin-right:10px; }

/* TREEVIEW */
ol.treeview {margin:0px; padding:0px 0px 0px 15px; }
li.treeview {list-style:none; }
select.treeview {font-family:Courier New; font-size:1.1em; }
span.treeview:before {content:""}

/* AUTO-COMPLETE */
ul.ui-autocomplete { background-color:#fff; width:200px !important; -webkit-padding-start:0px; padding:2px; margin-left:8px; border:1px solid;}
ul.ui-autocomplete li {list-style:none; color:#000; cursor:pointer; }
ul.ui-autocomplete li:hover {color:#000; background-color:#ccc; }

/* BOXED-CHECKBOX */
div.boxed-checkbox {display: inline-block; line-height:16px; overflow:hidden; padding:0px; }
div.boxed-checkbox label {display:inline; }
div.boxed-checkbox input {position:absolute; top:-20px; }
div.boxed-checkbox span {padding:2px 13px !important; }
div.boxed-checkbox input:checked + span {background-color:#A79A86 !important; color:#DDD8D0 !important; }

/* COMMANDS */
input[type="submit"], a.command, div.boxed-checkbox
{
   cursor:pointer !important; 
   text-decoration:none !important;
   border:1px solid #A79A86 !important; 
   color:#000 !important; 
   background:#DDD8D0 !important; 
  -webkit-border-radius:2px; 
  -moz-border-radius:2px;
   border-radius:2px;
 }
input[type="submit"], a.command {padding:2px 13px !important; } 
input[type="submit"]:hover, a.command:hover{background-color:#A79A86 !important; color:#DDD8D0 !important; } 

/* HOME-COMMAND */
.home-command {text-align: center; margin:20px; }
.home-command .command { font-size: 2em; }

/* CONFIRM */
div.confirm {text-align:right; padding:5px; background-color:#aaa; }
input[type="submit"].confirm {padding:5px 35px !important; }

/* STEPS LIST */
.steps-list li {cursor:pointer !important; list-style:none; line-height:25px; padding:5px; }
.steps-list span, .steps-list label {cursor:pointer !important; }
.steps-list li:hover {color:#fff;}

/* FILE UPLOAD */
.upload-wrapper {cursor:pointer !important; display:inline-block; position:relative; overflow:hidden; }
.upload-file {cursor:pointer !important; position:absolute; filter:alpha(opacity=100); -moz-opacity:0.01; opacity:0.01; font-size:20px; }
.upload-button {cursor:pointer !important; height:30px; width:30px; }

