div.Table {border: 1px solid #aaa; }
div.TableHeader {display:inline-block; width:100%; background-color:#aaa; color:#eee; text-transform:uppercase; font-size:12px; height:20px; }
.TableRow {display:inline-block; width:100%; }
.TableRow0 {background-color: #dcdcdc; }
.TableRow1 {background-color: #e3e3e3; }
.TableRow:hover {color:#000; background-color:#ccc; }
span.TableCell {float: left; padding:2px; }

.Expense {color:#a00; }
.Income {color:#0a0;}

div.editor-form {border: 1px solid #aaa; width:480px; margin-left:auto; margin-right:auto; }
div.editor-row {display:inline-block; width:100%; }
div.editor-row0 {background-color: #dcdcdc; }
div.editor-row1 {background-color: #e3e3e3; }
div.editor-label {float: left; padding:2px; width:20%; height:30px; line-height:30px; text-align:right; }
div.editor-validation {float: left; padding:2px; width:1%; height:30px; line-height:30px; text-align:center; }
div.editor-field {float: right; padding:4px 10px; width:73%; text-align:right; }
div.editor-field input {width:100%; }
