<div class="fs-datalist">
   <div class="fs-datalist-content" data-bind="visible:data().length!=0">

      <h5>
         <span data-bind="visible:justActive()==true">@Html.FsTranslationFor("TITLE_ACCOUNTS_MAIN_ACTIVE")</span>
         <span data-bind="visible:justActive()==false">@Html.FsTranslationFor("TITLE_ACCOUNTS_MAIN_ALL")</span>

         <span class="switch right">
            <label>
               <input data-bind="checked:justActive" type="checkbox">
               <span class="lever"></span>
            </label>
         </span>

      </h5>

      <div class="card-content center-align" data-bind="visible:isLoading">
         @Html.Partial("_Control_Spinner")
      </div>

      <!-- ko foreach: dataFiltered -->
      <a href="#!" class="fs-datalist-contentitem" data-bind="click:$root.openData">
         <span data-bind="text:Text"></span>
         <!-- ko if : Type() == typeGeneral --><i class="material-icons right">account_balance_wallet</i><!-- /ko -->
         <!-- ko if : Type() == typeBank --><i class="material-icons right">account_balance</i><!-- /ko -->
         <!-- ko if : Type() == typeCreditCard --><i class="material-icons right">credit_card</i><!-- /ko -->
         <!-- ko if : Type() == typeInvestment --><i class="material-icons right">local_atm</i><!-- /ko -->
         <!-- ko if : Type() == typeService --><i class="material-icons right">card_giftcard</i><!-- /ko -->
      </a>
      <!-- /ko -->

   </div>
   <div class="vertical-center-align center-align" data-bind="visible:dataFiltered().length==0">
      @Html.Partial("_Control_EmptyList")
   </div>
</div>
