<shared-empty-list *ngIf="Days?.length==0"></shared-empty-list>

<mat-nav-list *ngIf="Days?.length>0" [attr.dense]="IsMobile?true:null">
   <ng-container *ngFor="let day of Days">

      <transactions-day-header [Day]="day"></transactions-day-header>
      <ng-container *ngFor="let transaction of day.Transactions">
         <transactions-item [Transaction]="transaction"></transactions-item>
      </ng-container>
      <transactions-day-footer [Day]="day"></transactions-day-footer>

   </ng-container>
</mat-nav-list>
