<fs-full-layout>
   <span title>
      {{ 'CATEGORIES_MAIN_TITLE' | translation | async }}
   </span>
   <div toolbar>
   </div>
   <div content class="full-screen">

      <mat-card class="full-card">
         <mat-card-content>
            <mat-tab-group dynamicHeight="false" (selectedIndexChange)="OnTypeSelected($event)">
               <mat-tab *ngFor="let categoryType of Data" label="{{ categoryType.Text }}">

                  <mat-action-list>
                     <button mat-list-item *ngFor="let category of categoryType.Categories" (click)="OnItemClick(item)">
                        <div class="splited-text">
                           <span *ngFor="let text of category.SplitedText; let i=index">
                              <span *ngIf="i!=category.SplitedText.length-1">
                                 <mat-icon [class.visible-icon]="i==category.SplitedText.length-2" matListIcon>chevron_right</mat-icon>
                              </span>
                              <span *ngIf="i==category.SplitedText.length-1">{{ text }}</span>
                           </span>
                        </div>
                     </button>
                  </mat-action-list>

                  <related-box placeholder="ACCOUNTS_CLOSING_DAY_LABEL" minSize="0" [(ngModel)]="selectedValue"
                     [options]="options" (optionsChanging)="optionsChanging($event)">
                  </related-box>
                  <pre>{{ selectedValue | json }}</pre>

               </mat-tab>
            </mat-tab-group>
         </mat-card-content>
      </mat-card>

   </div>
</fs-full-layout>
<fab-button (click)="OnNewClick()"></fab-button>
