<div class="row">

   <div class="col col-8">
      <mat-card>
         <mat-card-content>
            <strong>{{ 'ANALYTICS_PATRIMONY_DISTRIBUTION_TITLE' | translation | async }}</strong>
         </mat-card-content>
         <mat-card-content>
            <div id="patrimonyDistributionContainer"></div>
         </mat-card-content>
      </mat-card>
   </div>

   <div class="col col-4">
      <mat-card>
         <mat-card-content>
            <strong>{{ 'ANALYTICS_PATRIMONY_RESUME_TITLE' | translation | async }}</strong>
         </mat-card-content>
         <mat-card-content>
            <mat-list id="patrimonyResumeContainer" dense >
               <mat-list-item *ngFor="let item of Resume">
                  <mat-icon matListIcon>{{item.Icon}}</mat-icon>
                  <h3 mat-line>
                     <strong>{{ item.Value | number : '1.2-2' }}</strong>
                  </h3>
                  <span mat-line>
                     <small>{{ item.Text }}</small>
                  </span>
               </mat-list-item>
            </mat-list>

         </mat-card-content>
      </mat-card>
   </div>

</div>
