<!--
<related-box [style.fontSize.px]="20" placeholder="ENTRIES_PATTERN_LABEL" minSize="0"
   [options]="PatternOptions" formControlName="PatternRow"
   [textSuffix]="(Data?.RecurrencyItem ? Data?.RecurrencyItem +'/'+ Data?.RecurrencyTotal : '')"
   (optionsChanging)="OnPatternChanging($event)">
</related-box>
-->
<ng-container [formGroup]="form">
   <ng-container formGroupName="Patterns">
      <elesse-relatedbox [placeholder]="'entries.TEXT_LABEL' | translation | async" minSize="0"
         [options]="PatternFiltered" formControlName="PatternRow" (optionsChanging)="OnPatternChanging($event)">
      </elesse-relatedbox>
   </ng-container>
</ng-container>
