@import "./colors.scss";
@include mat-core();

$fs-theme: mat-light-theme($palette-primary, $palette-accent, $palette-warn);
@include angular-material-theme($fs-theme);

body {
   @extend .mat-typography;
   margin: 0;
   background-color: mat-color($mat-grey, 100);
}
