<a href="@Url.Action("Index", "Configs")" class="collection-item side-nav-item footer">
   <span>@Html.FsTranslationFor("MENU_CONFIGS")</span>
   <i class="secondary-content material-icons">settings</i>
</a>