<fs-base-layout class="background">

   <div header>
   </div>

   <div details>

      <mat-card>
         <mat-card-header>
            <mat-card-title>
               Cash Flow
            </mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <form>

               <mat-form-field>
                  <mat-label>Your Name</mat-label>
                  <input type="text" matInput autofocus>
               </mat-form-field>

               <mat-form-field>
                  <mat-label>Your Email</mat-label>
                  <input type="email" matInput>
               </mat-form-field>

               <mat-form-field>
                  <mat-label>Your Password</mat-label>
                  <input type="password" matInput>
               </mat-form-field>

            </form>
         </mat-card-content>
         <mat-card-actions>
            <button mat-flat-button color="primary">Sign Up</button>
         </mat-card-actions>
      </mat-card>
      <button mat-button color="accent">i already have an account to sign in</button>

   </div>

</fs-base-layout>
