@import "./screenSizes.scss";

form {
  display: flex;
  flex-direction: column;
  .mat-card-content {
    display: flex;
    flex-direction: column;
  }
}

.mat-form-field-row {
  display: flex;
  .mat-form-field, related-box {
    .mat-form-field-infix {
      width: unset;
    }
    flex-grow: 1;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  @media (max-width: $max-width-xs) {
    &:not(.keep) {
      flex-direction: column;
      .mat-form-field {
        margin-right: 0 !important;
      }
    }
  }
}
