@import "./screenSizes.scss";

.full-screen {
  height: $details-height;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: $screen-padding 0;
}

.mat-card-actions,.mat-dialog-actions {
  display: flex !important;
  justify-content: flex-end;
  &.between {
    justify-content: space-between;
  }
  button,a {
    text-transform: uppercase;
  }
}

.background::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.2;
   z-index: -1;
   background-image: url(../assets/background.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: hidden;
 }
