@import "../../../../styles/colors.scss";

.mat-card-income {
  @extend .forecolor-white;
  @extend .backcolor-green;
}

.mat-card-expense {
  @extend .forecolor-white;
  @extend .backcolor-red;
}

.mat-card-balance {
  @extend .forecolor-white;
  @extend .backcolor-primary;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  .mat-icon {
    font-size: 32px;
    height: 32px;
    width: 48px;
  }
  strong {
    font-size: 32px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
  }
}
