<div class="row">

   <div class="col col-4" *ngFor="let resume of ResumeList">
      <mat-card [class.mat-card-balance]="resume.Type==0" [class.mat-card-expense]="resume.Type==1"
         [class.mat-card-income]="resume.Type==2">
         <mat-card-content>
            <mat-icon>{{ resume.Icon }}</mat-icon>
            <div>
               <strong>{{ resume.Value | number : '1.2-2' }}</strong>
               <span>{{ resume.Text | translation | async }}</span>
            </div>
         </mat-card-content>
      </mat-card>
   </div>

</div>
