@model Tuple<string, string, string>
<div class="collapsible-header">
   <i class="material-icons">@Model.Item3</i>
   <span>@Model.Item2</span>
</div>
<div class="collapsible-body collection" data-bind="foreach:@Model.Item1">
   <a href="#!" class="collection-item grey lighten-3" data-bind="click:clicked">
      <i class="left material-icons" data-bind="text:(Selected()?'check_box':'check_box_outline_blank')"></i>
      <span data-bind="text:Text"></span>
   </a>
</div>