@model string
@{ var className = Model; }
<span class="card-expandable-button @className">
   <i class="material-icons small fullscreen">fullscreen</i>
   <i class="material-icons medium fullscreen_exit">fullscreen_exit</i>
</span>