<div class="card white card-expandable">
   @Html.Partial("Graph_ExpandableButton", "category-trend-expandable-button")
   <div class="card-content graph-content">
      <content class="large"></content>
      <code data-bind="notifyer:function(element){graphCategoryTrend(element,$data)}"></code>
   </div>
</div>
<script type="text/javascript">
   var titleCategoryTrend = '@Html.Raw(Html.FsTranslationFor("TITLE_ANALYSIS_CATEGORY_TREND"))';
</script>