<div class="content">
   <h1>Welcome to Cash Flow!</h1>
   <div class="menu">
      <a routerLink="/identity/register">Register</a>
      <a routerLink="/identity/login">Login</a>
      <a routerLink="/identity/logout">Logout</a>
      <a routerLink="/identity/change-password">Change Password</a>
   </div>
   <router-outlet></router-outlet>
</div>
<shared-busy></shared-busy>
<!--
<button type="button" mat-raised-button color="primary" routerLink="/identity/login"
   matTooltip="LOGIN_LINK_TOOLTIP">LOGIN_LINK</button>
-->
