<shared-authenticated-container>
   <div header-title>{{ "entries.TITLE" | translation | async }}</div>
   <div content>

      <form *ngIf="inputForm" [formGroup]="inputForm" (ngSubmit)="OnSaveClick()">
         <mat-card [class.income]="IsIncome" [class.expense]="IsExpense">

            <mat-card-content>
               <entries-details-pattern [data]="data" [form]="inputForm"></entries-details-pattern>
               <ng-container formGroupName="Pattern">
                  <elesse-relatedbox [placeholder]="'entries.CATEGORYID_LABEL' | translation | async" minSize="0"
                     [options]="CategoryFiltered" formControlName="CategoryRow"
                     (optionsChanging)="OnCategoryChanging($event)">
                  </elesse-relatedbox>
               </ng-container>

               <elesse-relatedbox [placeholder]="'entries.ACCOUNTID_LABEL' | translation | async" minSize="0"
                  [options]="AccountFiltered" formControlName="AccountRow"
                  (optionsChanging)="OnAccountChanging($event)">
               </elesse-relatedbox>

               <pre style="max-height: 30vh; overflow-y: scroll;">{{ inputForm?.value | json }}</pre>
            </mat-card-content>

            <mat-card-actions>
               <button type="button" mat-button (click)="OnCancelClick()"
                  [matTooltip]="'shared.CANCEL_COMMAND_TOOLTIP' | translation | async" [disabled]="IsBusy">{{
                  "shared.CANCEL_COMMAND" | translation | async }}</button>
               <button type="submit" mat-button color="primary"
                  [matTooltip]="'shared.SAVE_COMMAND_TOOLTIP' | translation | async"
                  [disabled]="!inputForm?.valid || IsBusy">{{ "shared.SAVE_COMMAND" | translation | async }}</button>
            </mat-card-actions>

         </mat-card>
      </form>

   </div>
</shared-authenticated-container>
