<div class="container">

   <mat-sidenav-container autosize (backdropClick)="snav.close()">
      <mat-sidenav #snav fixedInViewport="true" [mode]="IsMobile ? 'over' : 'side'" [opened]="!IsMobile"
         (keydown.escape)="snav.close()">
         <elesse-links></elesse-links>
      </mat-sidenav>
      <mat-sidenav-content>
         <header>
            <mat-toolbar color="primary">
               <button mat-icon-button (click)="snav.toggle()" *ngIf="IsMobile">
                  <mat-icon>menu</mat-icon>
               </button>
               <ng-content select="[header-title]"></ng-content>
               <ng-content select="[header-toolbar]"></ng-content>
            </mat-toolbar>
            <ng-content select="[header]"></ng-content>
         </header>
         <section>
            <ng-content select="[content]"></ng-content>
         </section>
      </mat-sidenav-content>
   </mat-sidenav-container>

</div>
