@import "../../../../styles/screenSizes.scss";
@import "../../../../styles/colors.scss";

.full-screen {
   align-items: center;
   justify-content: center;
}

.mat-card {
  width: 30vw;
  @media (max-width: $max-width-xs) {
    width: 80vw;
  }
}

.activate-info {
  @extend .backcolor-green;
  @extend .forecolor-white;
}
