<mat-nav-list>
   <mat-list-item *ngFor="let account of Accounts | async">
      <mat-icon matListIcon>{{ GetAccountIcon(account.Type) }}</mat-icon>
      <a matLine routerLink="../details/{{account.AccountID}}">
         <span>{{ account.Text }}</span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
         <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item *ngIf="!account.Active">
            <span>{{ 'accounts.ENABLE_ACCOUNT' | translation | async }}</span>
         </button>
         <button mat-menu-item *ngIf="account.Active">
            <span>{{ 'accounts.DISABLE_ACCOUNT' | translation | async }}</span>
         </button>
         <button mat-menu-item>
            <span>{{ 'accounts.REMOVE_ACCOUNT' | translation | async }}</span>
         </button>
      </mat-menu>
   </mat-list-item>
</mat-nav-list>
