<ng-container *ngIf="formSection" [formGroup]="form">
   <ng-container [formGroupName]="FormSectionName">
      <elesse-relatedbox [placeholder]="'entries.TEXT_LABEL' | translation | async" minSize="0" [style.fontSize.px]="20"
         [options]="PatternFiltered" [formControlName]="FormControlName" (optionsChanging)="OnPatternChanging($event)">
      </elesse-relatedbox>
   </ng-container>
</ng-container>

<!--
<related-box [style.fontSize.px]="20" placeholder="ENTRIES_PATTERN_LABEL" minSize="0"
   [options]="PatternOptions" formControlName="PatternRow"
   [textSuffix]="(Data?.RecurrencyItem ? Data?.RecurrencyItem +'/'+ Data?.RecurrencyTotal : '')"
   (optionsChanging)="OnPatternChanging($event)">
</related-box>
-->
