@import "../../../styles/colors.scss";
@import "../../../styles/screenSizes.scss";

div {
   text-align: center;
   position: fixed;
   bottom: 2px;
   left: 0;
   width: 100%;
   font-size: 10px;
   line-height: 1.1;
   opacity: 0.75;
}

@media print {
   div {
      display: none;
   }
}
