<fs-full-layout [IsPrinting]="IsPrinting" [class.printing]="IsPrinting">
   <span title>
      {{ 'ANALYTICS_MAIN_TITLE' | translation | async }}
   </span>
   <div toolbar>
      <fs-analytics-filters *ngIf="!mobileQuery.matches"></fs-analytics-filters>
   </div>
   <div full-content class="full-screen" >

      <div class="full-card">
         <mat-card class="filters-card" *ngIf="mobileQuery.matches">
            <fs-analytics-filters></fs-analytics-filters>
         </mat-card>
         <fs-patrimony></fs-patrimony>
         <fs-category-goals></fs-category-goals>
         <fs-entries-pareto></fs-entries-pareto>
         <fs-monthly-budget></fs-monthly-budget>
         <fs-monthly-target></fs-monthly-target>
      </div>

      <mat-card class="mat-elevation-z0 print-version-toggle" >
         <mat-slide-toggle [(ngModel)]="IsPrinting" (change)="OnPrintVersionChanged(IsPrinting)">{{ 'ANALYTICS_PRINT_VERSION_COMMAND' | translation | async }}</mat-slide-toggle>
      </mat-card>

   </div>
</fs-full-layout>
