@import "../../../styles/screenSizes.scss";

.full-card {
   overflow-x: hidden;
   overflow-y: scroll;
   height: calc(#{$details-height} - #{$screen-padding});
   padding: 0 10px 0 10px;
   @media (max-width: $max-width-xs) {
      height: calc(#{$details-height} + #{$screen-padding});
      padding: 0 5px 0 5px;
   }

}

.filters-card {
   margin-bottom: 6px;
   padding: 0;
}
