<div class="sidenav-container">

   <img class="sidenav-header" src="assets/sidenavHeader.png" />

   <mat-nav-list class="sidenav-programs">
      <a mat-list-item routerLink="/home">
         <span>{{ 'DASHBOARD_MENU' | translation | async }}</span>
         <mat-icon matListIcon>dashboard</mat-icon>
      </a>
      <a mat-list-item routerLink="/entries">
         <span>{{ 'ENTRIES_MENU' | translation | async }}</span>
         <mat-icon matListIcon>receipt</mat-icon>
      </a>
      <a mat-list-item routerLink="/accounts">
         <span>{{ 'ACCOUNTS_MENU' | translation | async }}</span>
         <mat-icon matListIcon>account_balance</mat-icon>
      </a>
      <a mat-list-item routerLink="/categories">
         <span>{{ 'CATEGORIES_MENU' | translation | async }}</span>
         <mat-icon matListIcon>label</mat-icon>
      </a>
      <a mat-list-item routerLink="/analytics">
         <span>{{ 'ANALYTICS_MENU' | translation | async }}</span>
         <mat-icon matListIcon>equalizer</mat-icon>
      </a>
   </mat-nav-list>

   <div class="sidenav-spacer"></div>

   <mat-action-list class="sidenav-settings">
      <button mat-list-item routerLink="/settings">
         <span>{{ 'SETTINGS_MENU' | translation | async }}</span>
         <mat-icon matListIcon>settings</mat-icon>
      </button>
      <button mat-list-item (click)="OnLogoutClick()">
         <span>{{ 'LOGOUT_MENU' | translation | async }}</span>
         <mat-icon matListIcon>power_settings_new</mat-icon>
      </button>
   </mat-action-list>

</div>
