<shared-authenticated-container>
   <div header-title>CHANGE_PASSWORD_TITLE</div>
   <div content>

      <form *ngIf="inputForm" [formGroup]="inputForm" (ngSubmit)="OnFormSubmit()">
         <mat-card>

            <mat-card-content>
               <mat-form-field class="row">
                  <mat-label>OLD_PASSWORD_LABEL</mat-label>
                  <input type="password" matInput autofocus formControlName="OldPassword"
                     autocomplete="current-password">
               </mat-form-field>
               <mat-form-field class="row">
                  <mat-label>NEW_PASSWORD_LABEL</mat-label>
                  <input type="password" matInput formControlName="NewPassword" autocomplete="new-password">
               </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
               <button type="submit" mat-flat-button color="primary" [disabled]="!inputForm?.valid || IsBusy"
                  matTooltip="CHANGE_PASSWORD_COMMAND_TOOLTIP">CHANGE_PASSWORD_COMMAND</button>
            </mat-card-actions>

         </mat-card>
      </form>

      <button type="button" mat-button color="accent" [disabled]="IsBusy" routerLink="/"
         matTooltip="CHANGE_PASSWORD_CANCEL_LINK_TOOLTIP">CHANGE_PASSWORD_CANCEL_LINK</button>

   </div>
</shared-authenticated-container>
