<div class="card">
   <div class="card-content red lighten-3 white-text" data-bind="with:data">
      <div class="card-title">@Html.FsTranslationFor("TITLE_USERS_REMOVEUSER")</div>
      <div class="center-align">
         <a href="#!" class="btn disabled waves-effect red white-text">@Html.FsTranslationFor("COMMAND_REMOVEUSER")</a>
      </div>
   </div>
</div>